@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cross span:nth-child(1) {
    transform: rotate(58deg) translateY(17px);
    transition: 300ms;
    position: relative;
    top: -5px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(123deg) translateY(19px);
    transition: 300ms;
    position: relative;
    top: -10px;
}

@layer components {
    .row {
        @apply flex flex-wrap flex-row mx-[-12px];
    }
}

@layer components {
    .line {
        @apply after:absolute after:w-0 after:h-[1px] after:bg-white after:bottom-0 hover:after:w-full after:duration-300 after:left-0;
    }
}

@font-face {
    font-family: 'Konexy';
    src: url(/dist/font/konexy-personal-use/KonexyPersonalUse.otf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(/dist/font/gilroy/Gilroy-Regular.ttf);
}

.ff-Gilroy-regular {
    font-family: 'Gilroy';
}

.ff-konexy-regular {
    font-family: 'Konexy';
}